@model MuMerch.Models.Grade

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<form method="post">
    Name:<br /><input type="text" name="Name" /><br />
    Is Active:<br /><input type="number" name="IsActive" /><br />
    Updated By:<br /><input type="number" name="UpdatedBy" /><br />
    Updated At:<br /><input type="datetime" name="UpdatedAt" /><br />
    <input type="submit" class="btn btn-success" value="Add"/>
</form>
